@import 'mixins.scss';

.banner {
  overflow: hidden;

  background: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    max-width: 940px;

    height: 768px;

    @include media-down(tablet) {
      align-items: center;
      flex-direction: column;

      height: 596px;
    }
  }

  &__left {
    flex-shrink: 0;

    padding-top: 120px;

    @include media-down(tablet) {
      padding-top: 20px;
    }
  }

  &__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 2.56px;
    color: rgb(31, 63, 104);

    margin-bottom: 32px;

    max-width: 600px;

    @include media-down(laptop) {
      font-size: 56px;
      line-height: 64px;

      margin-bottom: 16px;
    }

    @include media-down(tablet) {
      font-size: 34px;
      line-height: 48px;
      text-align: center;

      max-width: none;

      margin-bottom: 12px;
    }
  }

  &__tx {
    color: rgb(31, 63, 104);
    opacity: 60%;

    margin-bottom: 71px;

    max-width: 425px;

    @include media-down(laptop) {
      margin-bottom: 16px;
    }

    @include media-down(tablet) {
      max-width: none;
    }
  }

  &__btn {
    box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.2);

    transition: 0.3s;

    &:hover {
      box-shadow: 5px 5px 10px 0px rgba(24, 143, 222, 0.459);
    }

    @include media-down(tablet) {
      display: block;
      margin: 0 auto;
    }
  }

  &__right {
    flex-shrink: 0;

    width: 100px;
  }

  &__bg-mob {
    width: 345px;
    height: 345px;

    @include media-up(tablet) {
      display: none;
    }

    @include media-down(tablet) {
      width: 315px;
    }
  }
}

.parallax {
  position: relative;

  width: 700px;

  @include media-down(tablet) {
    display: none;
  }

  &__item {
    position: absolute;

    will-change: transform;

    transition: 0.2s ease-out;

    &--men {
      top: 340px;
      left: -320px;
    }

    &--woman {
      top: 80px;
      left: -50px;
    }
  }

  &__bg {
    position: absolute;
    top: 129px;
    left: -396px;

    width: 682px;

    will-change: transform;

    transition: 0.2s ease-out;
  }
}
