<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="team">
      <div class="team__inner container">
        <div class="team__info">
          <h2 class="team__title tx-white">Intersted to woek with our team?</h2>

          <p class="team__tx tx-white">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </p>
        </div>

        <button class="team__btn tx-white btn">Let’s Talk</button>
      </div>
    </div>
  </body>
</html>
