<div class="client container">
  <div class="client__info">
    <h2 class="client__title tx-white h2">Our Beloved Client</h2>

    <p class="client__tx tx-white">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam.
    </p>
  </div>

  <div class="client__boxes">
    <div class="client__box">
      <div class="client__logo tx-white">LOGO CLIENT 1</div>
    </div>

    <div class="client__box">
      <div class="client__logo tx-white">LOGO CLIENT 2</div>
    </div>

    <div class="client__box">
      <div class="client__logo tx-white">LOGO CLIENT 3</div>
    </div>

    <div class="client__box">
      <div class="client__logo tx-white">LOGO CLIENT 4</div>
    </div>

    <div class="client__box">
      <div class="client__logo tx-white">LOGO CLIENT 5</div>
    </div>

    <div class="client__box">
      <div class="client__logo tx-white">LOGO CLIENT 6</div>
    </div>

    <div class="client__box">
      <div class="client__logo tx-white">LOGO CLIENT 7</div>
    </div>

    <button class="client__box--btn">
      <!-- <div class="client__box"> -->
      <div class="client__logo tx-white">More Client</div>
      <!-- </div> -->
    </button>
  </div>
</div>
