<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="client container">
      <div class="client__info">
        <h2 class="client__title tx-white">Our Beloved Client</h2>

        <p class="client__tx tx-white">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>

      <div class="client__boxes">
        <div class="client__box">
          <p class="client__logo tx-white">LOGO CLIENT 1</p>
        </div>

        <div class="client__box">
          <p class="client__logo tx-white">LOGO CLIENT 2</p>
        </div>

        <div class="client__box">
          <p class="client__logo tx-white">LOGO CLIENT 3</p>
        </div>

        <div class="client__box">
          <p class="client__logo tx-white">LOGO CLIENT 4</p>
        </div>

        <div class="client__box">
          <p class="client__logo tx-white">LOGO CLIENT 5</p>
        </div>

        <div class="client__box">
          <p class="client__logo tx-white">LOGO CLIENT 6</p>
        </div>

        <div class="client__box">
          <p class="client__logo tx-white">LOGO CLIENT 7</p>
        </div>

        <button class="client__box--btn">
          <div class="client__box">
            <p class="client__logo tx-white">More Client</p>
          </div>
        </button>
      </div>
    </div>
  </body>
</html>
