<div class="team">
  <div class="team__container">
    <div class="team__inner">
      <div class="team__info">
        <h2 class="team__title tx-white h2">Intersted to work with our team?</h2>

        <p class="team__tx tx-white tx-primary">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>

      <button class="team__btn tx-white btn">Let`s Talk</button>
    </div>
  </div>
</div>
