<div class="help container">
  <h2 class="help__title h2">What we do to help our client grow in digital era,</h2>

  <div class="help__boxes">
    <div class="help__left">
      <div class="help__box">
        <img class="help__img help__img--business" src="bussines.svg" alt="img" />

        <h3 class="help__subtitle subtitle">Make Your business To Be Better Famous In Internet</h3>

        <p class="help__tx tx-primary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>

        <a class="help__link" href="#">
          Learn more

          <img class="help__vector" src="vector.svg" alt="vector" />
        </a>
      </div>
    </div>

    <div class="help__right">
      <div class="help__box">
        <img class="help__img help__img--technology" src="technology.svg" alt="img" />

        <h3 class="help__subtitle subtitle">Bring Technology To Your Comfrotable Home</h3>

        <p class="help__tx tx-primary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>

        <a class="help__link" href="#">
          Learn more

          <img class="help__vector" src="vector.svg" alt="vector" />
        </a>
      </div>

      <div class="help__box">
        <img class="help__img help__img--product" src="product.svg" alt="img" />

        <h3 class="help__subtitle subtitle">
          Build Your Digital Product That Suitable For Your Need
        </h3>

        <p class="help__tx tx-primary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>

        <a class="help__link" href="#">
          Learn more

          <img class="help__vector" src="vector.svg" alt="vector" />
        </a>
      </div>
    </div>
  </div>
</div>
