<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="footer container">
			<div class="footer__content">
				<div class="footer__info">
					<img class="footer__logo" src="./assets/resource/test.png" alt="label" />

					<div class="footer__contacts">
						<div class="footer__row">
							<p class="footer__value tx-white">A.</p>

							<p class="footer__descr tx-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						</div>

						<div class="footer__row">
							<p class="footer__value tx-white">T.</p>

							<a class="footer__descr tx-white" href="tel:+62-812-7313-4321">+62-812-7313-4321</a>
						</div>

						<div class="footer__row">
							<p class="footer__value tx-white">E</p>

							<a class="footer__descr tx-white" href="mailto:hello.afrian@gmail.com">hello.afrian@gmail.com</a>
						</div>
					</div>
				</div>

				<div class="footer__links">
					<div class="footer__column">
						<p class="footer__subtitle tx-white">
							About US
						</p>

						<div class="footer__inner">
							<a class="footer__link tx-white" href="#">About</a>

							<a class="footer__link tx-white" href="#">What We Do</a>

							<a class="footer__link tx-white" href="#">Project</a>

							<a class="footer__link tx-white" href="#">How It Work With Us</a>
							</p>
						</div>
					</div>

					<div class="footer__column">
						<p class="footer__subtitle tx-white">
							Follow US
						</p>

						<div class="footer__inner">
							<a class="footer__link tx-white" href="#">Instagram</a>

							<a class="footer__link tx-white" href="#">Facebook</a>

							<a class="footer__link tx-white" href="#">LinkedIn</a>

							<a class="footer__link tx-white" href="#">Youtube</a>
						</div>
					</div>
				</div>
			</div>

      <p class="footer__tx tx-white">2019 © Afrianska. All rights reserved.</p>
    </div>
  </body>
</html>
