<div class="header">
  <div class="header__fake"></div>
  <div class="header__inner">
    <div class="header__wrap">
      <a href="#">
        <img class="header__logo" src="logo.svg" alt="logo" />
      </a>

      <div class="header__menu">
        <div class="header__menu-btn">
          <div class="header__stick"></div>

          <div class="header__stick"></div>

          <div class="header__stick"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="header__overlay"></div>

  <div class="header__menu-inner">
    <nav class="header__menu-nav">
      <div class="header__menu-title">
        <div class="header__menu-box">
          <img class="header__menu-logo" src="logo2.svg" alt="logo" />

          <p class="header__menu-tx">Afrianska</p>
        </div>

        <img class="header__menu-closed" src="cross.svg" alt="logo" />
      </div>

      <ul class="header__menu-list">
        <li class="header__menu-list-item">
          <a class="header__menu-link" href="#">Home</a>
        </li>

        <li class="header__menu-list-item">
          <a class="header__menu-link" href="#">Contact Us</a>
        </li>

        <li class="header__menu-list-item">
          <a class="header__menu-link" href="#">About Us</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
