@import 'normalize.scss';
@import 'styles/mixins.scss';
@import 'fonts.scss';
@import 'styles/header.scss';
@import 'styles/banner.scss';
@import 'styles/help.scss';
@import 'styles/team.scss';
@import 'styles/footer.scss';
@import 'styles/popup.scss';

* {
  font-family: 'Gilroy';
}

// typography
a {
  transition: 0.2s;

  &:hover {
    color: rgba(187, 217, 238, 0.905);
  }
}

.h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 1.8px;

  @include media-down(laptop) {
    font-size: 32px;
    line-height: 42px;
  }

  @include media-down(tablet) {
    font-size: 24px;
    line-height: 34px;

    text-align: center;
  }
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;

  @include media-down(laptop) {
    font-size: 18px;
    line-height: 28px;
  }

  @include media-down(tablet) {
    line-height: 26px;
  }
}

.tx-primary {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.8px;

  @include media-down(laptop) {
    font-size: 14px;
    line-height: 24px;
  }

  @include media-down(tablet) {
    text-align: center;
  }
}

.tx-white {
  color: rgba(255, 255, 255, 1);
}

// ***

.container {
  margin: 0 auto;
  padding: 0 16px;

  max-width: 940px;
}

.btn {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.64px;
  text-align: center;

  background: rgb(90, 152, 208);

  padding: 15px;

  border-radius: 10px;

  width: 220px;
  max-height: 56px;
}

// ***

.main {
  &__client {
    background: rgb(90, 152, 208);
    border-radius: 200px 0 0 0;

    @include media-down(laptop) {
      border-radius: 150px 0 0 0;
    }

    @include media-down(tablet) {
      border-radius: 80px 0 0 0;
    }
  }

  &__bottom {
    background: rgba(90, 152, 208, 1);
  }

  &__inner {
    background: rgb(49, 96, 153);

    border-radius: 0 200px 0 0;

    margin-right: 96px;

    @include media-down(laptop) {
      border-radius: 0 130px 0 0;

      margin-right: 76px;
    }

    @include media-down(tablet) {
      border-radius: 0 80px 0 0;

      margin-right: 22px;
    }
  }
}
